<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<h2>Tau Kappa Epsilon</h2>
<p>
  TKE is a college fraternity, founded in 1899. We are the University of
  Illinois at Chicago branch, and this fundraiser is a way for us to
  help out our community in a small way.
</p>
<hr>
<h2>Friends of Chicago Animal Care</h2>
<p>
  Friends of Chicago Animal Care and Control (FCACC) is the nonprofit group committed exclusively to helping save the lives of over 23,000 animals that come into custody of Chicago Animal Care and Control (ACC) at 2741 S. Western each year.
</p>
