<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<h2>Tau Kappa Epsilon</h2>
<p>
  Founded in (?), we are blah blah blah.
</p>
<hr>
<h2>Animal Clinic</h2>
<p>
  We care about animals blah blah.
</p>
