<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<h3>TKE</h3>
<p>
	Keith Thomas - Phone - Email <br>
	Ryan Clare - Phone - Email <br>
	Jimmy Iverson - Phone - Email <br>
</p>
<br>
<h3>Animal Clinic</h3>
<p>
	Somebody - Phone - Email
</p>
