<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<h3>TKE</h3>
<p>
	Keith Thomas / (847)553-6232 / keiferr@live.com <br>
	Ryan Clare / (630)337-1991<br>
	Jimmy Iverson / (815)274-9628<br>
</p>
<br>
<h3>Animal Clinic</h3>
<p>
	(773)743-9000 / cpropsom@sbcglobal.net
</p>
