<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
    </aside>
    <aside class="span8">
      (Donation Button)
    </aside>
  </div>
<% else %>
  <div class="center hero-unit">
    <h1>(Picture of cute TKE dog)</h1>

    <h2>
      This is the home page for the sponsored 5K brought to you
      by (animal clinic name + link) and the TKE fraternity at UIC.
    </h2>

    <h2>
      Sign up here so that you don't have to 
      bring cash to the event!
    </h2>

    <%= link_to "Sign up now!", signup_path, 
                                class: "btn btn-large btn-primary" %>
  </div>

<% end %>
