<div class="center hero-unit">
  <h1>Busse Woods 5K</h1>
  <%= image_tag "http://imgur.com/aq28hjN.jpg", :alt => "Animal Clinic Puppies" %>

  <h2>
      This event is brought to you
      by 
      <a href="http://fcacc.org/fcacc_home/index.php">Friends of Chicago Animal Care and Control</a> and the 
      <a href="http://www.tke.org/">TKE</a> 
      fraternity at UIC.
  </h2>
  
  <% if !signed_in? %>
  <h2>
      Sign up here so that you don't have to 
      bring cash to the event!
  </h2>

  <%= link_to "Sign up now!", signup_path, 
                                class: "btn btn-large btn-primary" %>
  <% end %>
</div>

<hr>
<div style="text-align: center;">
  <h4>What?</h4>
    <p>A 5K run to help raise money for abandoned animals.</p>
  <h4>When?</h4>
    <p>July 20th from 8 AM to 3 PM.</p>
  <h4>Where?</h4>
    <p>
	Busse Woods, Elk Grove, IL.<br>
        Forest preserve at E. Higgins Rd. and Arlington Heights Rd.<br>
	A little east of Woodfield Mall in Schaumburg.    
    </p>
</div>

<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/?ie=UTF8&amp;ll=42.028735,-87.989674&amp;spn=0.01935,0.039482&amp;t=m&amp;z=15&amp;output=embed" style="display: block; margin-left: auto; margin-right: auto;"></iframe><br /><small><a href="https://maps.google.com/?ie=UTF8&amp;ll=42.028735,-87.989674&amp;spn=0.01935,0.039482&amp;t=m&amp;z=15&amp;source=embed" style="color:#0000FF;text-align:left">View Larger Map</a></small>
