<a href="<%= user_path(current_user) %>">
  <%= gravatar_for current_user, size: 52 %>
</a>
<h1>
  <%= current_user.name %>
</h1>
<span>
  <%= link_to "view my profile", current_user %>
</span>
<% if current_user.donated %>
<p style="color: green;">Donated!</p>
<% else %>
<p style="color: red;">You haven't donated yet.</p>
<% end %>
